[submodule "themes/zzo"]
	path = themes/zzo
url=git@github.com:alejandrocoria/hugo-theme-zzo.git
[submodule "public"]
	path = public
	url = https://github.com/alejandrocoria/alejandrocoria.github.io.git